{% extends 'main/layout.html' %}

{% block title %}Create an account{% endblock %}

{% block content %}
    <h1>Создание аккаунта</h1>
    <p>Пожалуйста, зарегистрируйтесь, используя следующую форму:</p>
    <form action="." method="post">
        <p>
            <label for="id_username">Придумайте логин:</label>
            <input type="text" name="username" maxlength="150" required id="id_username">

        </p>
        <p>
            <label for="id_first_name">Ваше имя:</label>
            <input type="text" name="First_name" maxlength="150" id="id_first_name">
        </p>
        <p>
            <label for="id_email">Ваш Email:</label>
            <input type="email" name="email" placeholder="andryushka@mail.ru" maxlength="254" id="id_email">
        </p>
        <p>
            <label for="id_password">Придумайте пароль:</label>
            <input type="password" name="password" maxlength="150" id="id_password" aria-autocomplete="list">
        </p>
        <p>
            <label for="id_password2">Повторите пароль:</label>
            <input type="password" name="password2" maxlength="150" id="id_password2">

        </p>
        <p><input type="submit" value="Создать аккаунт"></p>
        <a href="{% url 'home' %}?next={{request.path}}"><input type="button" value="Назад"></a>
    </form>
{% endblock %}