{% extends 'main/layout.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<main>
    <h1>Design Pro</h1>

</main>
    <aside>
        <h1>Навигация</h1>
    <ul>
       {% if user.is_authenticated %}
         <li class="account">Аккаунт: {{ user.get_username }}</li>
        <br>
          <li><a href="{% url 'user_profile'%}?next={{request.path}}">Личный кабинет</a></li>
         <li><a href="{% url 'logout'%}?next={{request.path}}">Выйти</a></li>
       {% else %}
         <li><a href="{% url 'login'%}?next={{request.path}}">Войти</a></li>
          <li><a href="{% url 'register'%}?next={{request.path}}">Регистрация</a></li>

       {% endif %}
      </ul>
    </aside>
{% endblock %}