{% extends 'main/layout.html' %}

{% block title %}Мои заявки{% endblock %}

{% block content %}


<h1 class="application-title" >Мои заявки</h1>
        <a class="home-button" href="{% url 'home'%}?next={{request.path}}"><input type="button" value="На главную страницу"></a><br><br><br>
    <div class="features" >
      {% if application %}
        {% for el in application %}
          <div class="alert-warning1">
            <h3>{{el.title}}</h3>


              <a href="{% url 'application-detail' el.id %}" class="btn btn-warning" >Подробнее</a><br><br><br>
          </div>
        {% endfor %}
      {% else %}
        <p>У вас ещё не было заявок</p>
      {% endif %}
      {# Комментарий #}
  </div>

{% endblock %}