{% extends 'main/layout.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <div class="features" >
        <h1>{{ article.title }}</h1>
        <p>{{ article.full_text }}</p>
        <p>{{ article.name }}</p>
        <p>{{ article.email }}</p>
        <p>{{ article.category }}</p>

        <a href="{% url 'application-delete' article.id %}" class="btn btn-danger">Удалить</a>
        <a href="{% url 'application-update' article.id %}" class="btn btn-info">Редактировать</a>


  </div>
<br>
<a href="{% url 'home' %}?next={{request.path}}"><input type="button" value="На главную"></a>
        <a href="{% url 'application_home' %}?next={{request.path}}"><input type="button" value="Назад"></a>

{% endblock %}