aside{
    float: left;
    width: 20%;
    height: 100vh;
}
li{
    list-style: none;
}

.create-form{
    margin-left: 27%;
    width: 500px;
    margin-top: 50px;
}
.create-title{
    margin-left: 35%;
}
body{
    background-color: black;
}

.navigation{
    margin-left: 20%;
}

main.features{
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 75%;
}

.alert-warning1{
    float: left;
    clear: both;
    width: 400px;


}

.application-title{

}
.home-button{
}
